
.appreciation-section{
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    gap: 50px;
    justify-content: center;
}

.appreciation-section .text-container{
    width: 650px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.appreciation-section .text-container h3{
    font-size: 40px;
    margin-bottom: 10px;
}

.appreciation-section .appreciation-container{
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.appreciation-section .appreciation-container .button{
    padding: 15px 25px;
    margin: 10px 0;
}

.appreciation-section .appreciation-container .image-container{
    width: 40%;
}

.appreciation-section .appreciation-container .image-container img{
    width: 100%;
}