.value-section{
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.value-section .text-container{
    width: 650px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.value-section .text-container h3{
    font-size: 40px;
    line-height: 100%;
    width: 300px;
    margin: 20px 50px;
}

.value-section .value-container{
    width: 650px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.value-section .value-container .image-container{
    width: 60%;
    margin: 0 auto
}

.value-section .value-container .image-container img{
    width: 100%;
    border-radius: 15px;
}

.value-section .value-container span{
    font-size: 13px;
    text-align: center;
}

.value-section .value-container .button{
    padding: 15px 20px;
    width: 300px;
    margin: 0 auto;
    margin-top: 10px;
}